@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family:"Roboto", 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height:2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    margin-top: 4px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.rodape_final{
    background-color: black;
    color: white;
    text-align: center;
}
.text_footer{
    color: white;
}   